<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qi.helloworld">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelloWorld">
        <receiver android:name=".CountdownTrackerWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.DATE_CHANGED"/>
                <action android:name="android.intent.action.TIME_SET"/>

                <action android:name="com.qi.helloworld.WIDGET_BUTTON" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/countdown_tracker_widget_info" />
        </receiver>
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />

        <service
            android:name="com.qi.helloworld.CountdownTrackerWidgetRemoteViewsService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".PastEventsActivity" />
        <activity android:name=".hellosharedprefsActivity" />
        <activity android:name=".AddEventActivity" />
        <activity android:name=".RecyclerViewMain" />
        <activity android:name=".TwoActivities_second" />
        <activity android:name=".TwoActivities_main" />
        <activity android:name=".scrollingActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>